body {
    background-color: rgb(245,245,245);
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

main {
    background-color: rgb(245,245,245);
    padding: 0 15% 0 15%;
}

img {
  display: inline-block;
}

hr {
  width: 50%;
}

/*TOP NAV BAR*/
.topnav {
    text-align: center;
    overflow: hidden;
    background-color: rgb(0, 233, 233);
    padding: 0 40px 4px 40px;
}

/*log in button seperate from rest nav bar*/
.topnav a.split {
    float: right;
}

.topnav a {
    display: block;
    color: rgba(255, 255, 255, 0.91);
    text-align: center;
    padding: 0 14px 0 20px;
    text-decoration: none;
    float: left;
  }

  .topnav a:hover{
    background-color: rgb(27, 194, 194);
  }

  .topnav a:active{
    background-color: rgb(14, 250, 250);
  }

  header {
    text-align: center;
    overflow: hidden;
    background-color: rgb(0, 233, 233);
    padding: 0 0 0 0;
  }

  header a.split {
    float: right;
  }

  p.split {
    float: right;
  }

  *{
    padding: 5px;
    text-align: center;
}

div.container{
    background-color: aquamarine;
    margin: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: white;
    text-align: center;
  }

  .form-container{
    background-color: teal;
    margin: 5%;
  }
