* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
  background-color: whitesmoke;
  position: relative;
  height: 100%;
}

body {
    background-color: whitesmoke;
    height: 100%;
    text-align: center;
}

main {
    background-color: whitesmoke;
    width: 90%;
    margin: 0 5% 0 5%;
    padding: 10px 20px;
}

img {
  display: inline-block;
}

hr {
  border-top: 2px solid black;
  width: 50%;
}

.footer-hr {
  width: 50%;
  border-top: 1px solid white;
  padding: 0;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover{
    background-color: teal;
  }

  #home-link:hover {
    background-color: aquamarine;
  }

  header a:link {
    text-decoration: none;
  }

/*log in button seperate from rest nav bar*/
.split {
    float: right;
}

  header {
    box-sizing: content-box;
    text-align: center;
    overflow: hidden;
    background-color: aquamarine;
    padding: 0 0 0 0;
    margin-top: 0;
  }

  p.split {
    float: right;
  }

  /*
div.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: aquamarine;
    margin: 5%;
    padding: 10px;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
}

form{
  width: 300px;
  height: 100px;
  align-self: center;
}

.form{
  align-self: center;
}

label {
  float: left;
}

input {
  float: right;
  border: none;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#submit-button {
  float:none;
  width: 100%;
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

div.login-form-container-container{
  box-sizing: border-box;
  border-radius: 25px;
  background-color: aquamarine;
  margin: auto;
  width: 60%;
  padding: 10px;
  align-items: center;
}

form-container{
    box-sizing: content-box;
    border-radius: 25px;
    background-color: teal;
    border: 2px solid white;
    margin: auto;
    padding: 10px;
    width: 60%;
    align-items: center;
  }

/*
  div.register-form-container{
    box-sizing: content-box;
    border-radius: 25px;
    border: 2px solid white;
    background-color: teal;
    padding: 10px;
    margin: auto;
    width: 60%;
  }
*/

  footer {
    /* TODO: footer currently covers the bottom of screen  */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid black;
  }
