body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 0;
}

img {
  display: inline-block;
}

/*TOP NAV BAR*/
.topnav {
    overflow: hidden;
    background-color: hotpink;
}

/*log in button seperate from rest nav bar*/
.topnav a.split {
    float: right;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }

  .topnav a:hover{
    background-color: rgba(235, 49, 142, 0.842);
  }

  .topnav a:active{
    background-color: lightcoral;
  }
